p,
h1,
h2,
h3,
a {
    color: #202022;
}

.navbar-light .navbar-nav .nav-link,
a.nav-link.language {
    color: #202022;
}

a.nav-link.active {
    font-weight: 600;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#logo {
    max-width: 200px;
    transition: 0.2s;
}

#logo-container {
    width: 200px;
}

.language {
    display: inline-block;
}

.custom-nav {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9001;
}

.main-header {
    margin-top: 150px;
    text-align: center;
}

#main-gallery {
    padding: 130px 0 100px 0;
}

.w-100 {
    width: 100% !important;
    height: 500px;
    object-fit: cover;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    height: 500px;
}

.contacts-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 70px 40px 40px 40px;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts {
    order: 2;
    flex: 0 0 49%;
    width: 49%;
    align-self: center;
}

.map-responsive {
    order: 1;
    flex: 0 0 49%;
    width: 49%;
    height: 500px;
    border: 2px solid #000000;
    padding: 10px 10px !important;
}

.map-responsive iframe {
    height: 500px;
}

#carouselExampleIndicators {
    order: 2;
    flex: 0 0 49%;
    width: 49%;
}

.main-article {
    order: 1;
    flex: 0 0 51%;
    width: 51%;
    text-align: center;
    padding-right: 35px;
    justify-content: center;
    text-align: justify;
}

.main-article h2 {
    padding-bottom: 15px;
    text-align: center;
}

.main-article p {
    line-height: 1.7;
    font-size: 1.2rem;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 70px 40px 40px 40px;
    justify-content: center;
    align-items: flex-start;
}

nav.navbar .container-fluid.me-auto {
    padding: 0 28px;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
}

.carousel-indicators [data-mdb-target] {
    display: none;
}

.article-entertainment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.entertainment-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40px;
    justify-content: center;
    align-items: flex-start;
}

.entertainment-container h2 {
    margin: 28px auto;
}

.entertainment-tourism {
    margin: 8px auto !important;
}

.article-entertainment-sub {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.article-entertainment h3 {
    margin: 20px auto;
}

.article-entertainment p {
    text-align: justify;
}

#fb-logo i {
    padding-right: 1rem;
}

.footer-links {
    display: block;
    margin-bottom: 1rem;
}

.fish-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000 !important;
}

.gallery-links {
    text-align: left !important;
}

.article-entertainment-horse {
    max-width: 48%;
    order: 2;
    flex: 48%;
}

.article-entertainment-horse p {
    max-width: 100% !important;
    width: 100% !important;
    order: 2 !important;
    flex: 100% !important;
}

.prices-container {
    width: 80%;
    margin: 40px auto;
}

.prices-table {
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
    width: 50%;
    text-align: center;
}

.prices-table th {
    border: 1px solid #C0C0C0;
    padding: 5px;
    background: #F0F0F0;
}

.prices-table td {
    border: 1px solid #C0C0C0;
    padding: 5px;
}

footer section:first-child {
	padding-left: 40px !important;
}

@media only screen and (min-width: 1200px) {
    .article-entertainment:nth-child(even) .article-entertainment-sub p {
        order: 1;
        flex: 0 0 48%;
        width: 48%;
    }
    .article-entertainment:nth-child(odd) .article-entertainment-sub p {
        order: 2;
        flex: 0 0 48%;
        width: 48%;
    }
    .article-entertainment:nth-child(even) .article-entertainment-sub img {
        order: 2;
        flex: 0 0 48%;
        width: 48%;
    }
    .article-entertainment:nth-child(odd) .article-entertainment-sub img {
        order: 1;
        flex: 0 0 48%;
        width: 48%;
    }
}


/* Responsive */

@media only screen and (max-width: 1199px) {
    #carouselExampleIndicators {
        order: 1;
        flex: 0 0 100%;
        width: 100%;
    }
    .main-article {
        order: 2;
        flex: 0 0 100%;
        width: 100%;
    }
    .main-article h2 {
        margin-top: 20px;
    }
    .article-entertainment-sub p {
        order: 2;
        flex: 0 0 100% !important;
        width: 100% !important;
    }
    .article-entertainment-sub img {
        order: 1;
        flex: 0 0 70% !important;
        width: 70% !important;
        margin: 20px auto;
        justify-self: center;
    }
    .article-entertainment-horse {
        max-width: 100%;
        order: 2;
        flex: 100%;
    }
}

@media only screen and (max-width: 1125px) {
    .contacts-main {
        flex-direction: column;
    }
    .map-responsive {
        flex: 0 0 70%;
        width: 70%;
        margin: auto;
        padding: 0 !important;
        position: inherit !important;
        display: block;
    }
    .contacts {
        flex: 0 0 70%;
        width: 70%;
        margin-top: 35px;
    }
    .map-responsive iframe {
        position: inherit;
    }
    .contacts .container {
        padding: 3px;
    }
}

@media only screen and (max-width: 991px) {
    div#navbarRightAlignExample {
        margin-top: -25px;
    }
}

@media only screen and (max-width: 992px) {
    .mb-2 {
        text-align: right;
        padding-right: 15px;
        padding-top: 20px;
    }
    .language-container {
        text-align: right;
    }
    .contacts-main {
        margin: 20px 20px 20px;
    }
    .main-container {
        margin: 20px 20px 20px;
    }
    nav.navbar .container-fluid.me-auto {
        padding: 10px;
    }
    .navbar-toggler {
        padding-right: 15px;
    }
    .map-responsive iframe {
        height: 450px;
    }
    .map-responsive {
        height: 450px;
        flex: 0 0 99%;
        width: 99%;
    }
    .contacts {
        flex: 0 0 99%;
        width: 99%;
    }
    #main-gallery {
        padding: 70px 0 40px 0;
    }
}

@media only screen and (max-width: 768px) {
    .main-container {
        margin: 20px 15px 20px;
    }
    .contacts-main {
        margin: 20px 15px 20px;
    }
    nav.navbar .container-fluid.me-auto {
        padding: 5px;
    }
    .carousel-inner {
        height: 400px;
    }
    .map-responsive {
        flex: 0 0 99%;
        width: 99%;
        height: 400px;
    }
    .contacts {
        flex: 0 0 99%;
        width: 99%;
        margin-top: 35px;
    }
    .map-responsive iframe {
        height: 400px;
    }
    .contacts .container {
        max-width: 100% !important;
    }
    .entertainment-container {
        margin: 17px;
    }
    .article-entertainment-sub img {
        margin: 0px auto 20px;
    }
}

@media only screen and (max-width: 622px) {
    .list-group {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .contacts-main {
        margin: 20px 18px 20px;
    }
    .article-entertainment-sub img {
        flex: 0 0 100% !important;
        width: 100% !important;
    }
}